<p style="color: green"><%= notice %></p>
<div class='container'>
<h1>Restaurants</h1>
</div>

<div class="container" id="restaurants">

  <% @restaurants.each do |restaurant| %>
    <div class="card mb-3" style="max-width: 75%; max-height: 300px">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="https://picsum.photos/id/30/150/300" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body" style="max-width: 75%;">
              <%= render restaurant %>
              <p class="btn btn-light">
                <%= link_to "Show this restaurant", restaurant %>
              </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container m-10">
  <div class="btn btn-light mb-10">
    <%= link_to "â• New restaurant", new_restaurant_path %>
  </div>
</div>
